.vscode/**
.vscode-test/**
src/**
out/test/**
test/**
**/*.map
**/*.ts
.gitignore
.editorconfig
.github/**
.githooks/**
.sisyphus/**
tsconfig.json
tsconfig.test.json
pnpm-lock.yaml
yarn.lock
CONTRIBUTING.md
vsc-extension-quickstart.md
node_modules
*.vsix
